@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: UbuntuMono;
    src: url('../fonts/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: UbuntuMono;
    src: url('../fonts/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: UbuntuMono;
    src: url('../fonts/UbuntuMono-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: UbuntuMono;
    src: url('../fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    background-image: url('../images/bg.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Ubuntu;
    font-size: 1.5em;
}

.caption {
    font-size: 0.8em;
    font-style: italic;
}