################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleImageProcessor/obj
/SimpleImageProcessor/bin
/.vs/SimpleImageProcessor/v16
