@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
    var maxWidth, maxHeight;

    function resizeImage(img) {
        maxWidth = maxWidth || $('#images').width() - 20;
        maxHeight = maxHeight || $(window).innerHeight() - $('#topBanner').outerHeight() - 40;
        var originalWidth = img.naturalWidth,
            originalHeight = img.naturalHeight,
            ratio = Math.min(maxHeight / originalHeight, maxWidth / originalWidth);
        if (ratio < 1) {
            $(img).css({ 'width': Math.round(originalWidth * ratio) + 'px', 'height': Math.round(originalHeight * ratio) + 'px' });

        }
    }
</script>

<h2>Procesor imagini</h2>
<br />
<h3>Ascunde numere de înmatriculare și redimensionează imaginile de peste 2MB</h3>
<p>
    Încarcă fișierele, ele vor fi apoi procesate, iar la final vor fi afișate în pagină. Alege să le salvezi pe fiecare în parte din meniul click dreapta &rarr; salvează imaginea (pe mobil: tap lung &rarr; salvează imaginea)...
</p>
<p>
    Această unealtă este un soft experimental și poate returna rezultate neașteptate sau greșite. Te rugăm să verifici cu atenție rezultatul înainte să îl folosești.
</p>
<p>
    O dată ce ai încărcat imaginile, te rugăm să aștepți până sunt afișate rezultatele finale. Nu părăsi pagina și nu o reîncărca. Procesarea poate dura până la 2 minute în cazul unui număr mare de imagini de dimensiuni mari.
</p>
<p>&nbsp;</p>
<form method="post" id="uploadForm" enctype="multipart/form-data">
    <input asp-for="Files" multiple />
    <div class="caption">Minim 1, maxim 10 fișiere.</div>
    <div id="fileUploadStatus"></div>
    <span style="color:red" asp-validation-for="Files"></span>
    <p></p>
    <select name="hidePlates">
        <option selected disabled>Alege tipul procesării...</option>
        <option value="true">Redimensionează și ascunde numerele de înmatriculare</option>
        <option value="false">Doar redimensionează</option>
    </select> <br />
    <span style="color:red" asp-validation-for="HidePlates"></span>
    <p></p>
    <select name="sizeLimit">
        <option selected disabled>Alege dimensiunea minima...</option>
        <option value="2">2MB</option>
        <option value="3">3MB</option>
        <option value="4">4MB</option>
        <option value="5">5MB</option>
    </select> <br />
    <span style="color:red" asp-validation-for="SizeLimit"></span>
    <p></p>
    <input type="submit" value="Trimite" />
    @Html.AntiForgeryToken()
</form>
<p>&nbsp;</p>
<div style="width:100%" id="images">
    @foreach (var processedImage in Model.ProcessedImageIds)
    {
        <img src="./File?id=@processedImage.Id" onload="resizeImage(this)" />
        <br />
        <span style="font-size:0.8em">
            Dimensiunea veche: @processedImage.OriginalSize; dimensiunea nouă: @processedImage.NewSize
        </span>
        <p>&nbsp;</p>
    }
</div>
<p class="caption">
    Acest soft este pus la dispoziția publicului ca atare, fără garanții, și poate fi folosit în mod liber și gratuit, fără restricții. Nici Asociația Metrou Ușor și nici autorul soft-ului nu își asumă 
    responsabilitatea pentru posibilele daune cauzate de folosirea acestui soft.
</p>
<p class="caption">
    Numerele de înmatriculare detectate în imagini nu sunt stocate nici pe acest server, nici pe alte servere. Similar, nici imaginile procesate nu sunt stocate nici pe acest server, nici pe alte servere,
    după procesare. Imaginile sunt stocate pe acest server pentru o scurtă perioadă, de doar câteva secunde, în timpul procesării.
</p>
<p class="caption">
    Modulul de detecție a numerelor de înmatriculare în imagini este furnizat de <a href="https://www.openalpr.com/">openALPR</a>.
</p>
<p class="caption">
    Întreg codul sursă este disponibil la <a href="https://github.com/costinbanu/SimpleImageProcessor">https://github.com/costinbanu/SimpleImageProcessor</a>.
</p>

