@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script>
    function submitAttachments() {
        $('#uploadForm').submit();
        $('#fileUploadStatus').text('Se încarcă fișierele...');
    }

    var maxWidth, maxHeight;

    function resizeImage(img) {
        maxWidth = maxWidth || $('#images').width() - 20;
        maxHeight = maxHeight || $(window).innerHeight() - $('#topBanner').outerHeight() - 40;
        var originalWidth = img.naturalWidth,
            originalHeight = img.naturalHeight,
            ratio = Math.min(maxHeight / originalHeight, maxWidth / originalWidth);
        if (ratio < 1) {
            $(img).css({ 'width': Math.round(originalWidth * ratio) + 'px', 'height': Math.round(originalHeight * ratio) + 'px' });

        }
    }
</script>

<h2>Procesor imagini</h2>
<br />
<h3>Ascunde numere de înmatriculare și redimensionează imaginile de peste 2MB</h3>
<p>
    Încarcă fișierele, ele vor fi apoi procesate, iar la final vor fi afișate în pagină. Alege să le salvezi pe fiecare în parte din meniul click dreapta &rarr; salvează imaginea (pe mobil: tap lung &rarr; salvează imaginea)...
</p>
<p>
    Această unealtă este un soft experimental și poate returna rezultate neașteptate sau greșite. Te rugăm să verifici cu atenție rezultatul înainte să îl folosești.
</p>
<p>
    O dată ce ai încărcat imaginile, te rugăm să aștepți până sunt afișate rezultatele finale. Nu părăsi pagina și nu o reîncărca. Procesarea poate dura până la 2 minute în cazul unui număr mare de imagini de dimensiuni mari.
</p>
<p>&nbsp;</p>
<form method="post" id="uploadForm" enctype="multipart/form-data">
    <input asp-for="Files" onchange="submitAttachments()" multiple />
    <div class="caption">Minim 1, maxim 10 fișiere.</div>
    <div id="fileUploadStatus"></div>
    <span style="color:red" asp-validation-for="Files"></span>
</form>
<p>&nbsp;</p>
<div style="width:100%" id="images">
    @for (var i = 0; i < Model.Count; i++)
    {
        <img src="./File?id=@i&sessionId=@Model.SessionId" onload="resizeImage(this)" />
        <p>&nbsp;</p>
    }
</div>
<p class="caption">
    Acest soft este pus la dispoziția publicului ca atare, fără garanții, și poate fi folosit în mod liber și gratuit, fără alte restricții. Echipa Metrou Ușor nu își asumă responsabilitatea pentru posibilele
    daune cauzate de folosirea acestui soft.
</p>
<p class="caption">
    Numerele de înmatriculare detectate în imagini nu sunt salvate nici pe acest server, nici pe servere terțe. Similar, nici imaginile procesate nu sunt salvate nici pe acest server, nici pe servere terțe,
    nici înainte, nici în timpul și nici după procesare.
</p>
<p class="caption">
    Motorul de detecție a numerelor de înmatriculare în imagini este furnizat de <a href="https://www.openalpr.com/">openALPR</a>.
</p>

